# All files
[*]
end_of_line              = crlf
indent_style             = space
insert_final_newline     = true
trim_trailing_whitespace = true
# Project files
[*.{csproj,fsproj}]
indent_size          = 2
# Code files
[*.{cs,csx,fs,fsx,vb,vbx,xml}]
indent_size          = 4
charset              = utf-8-bom
# YAML files
[*.yml]
indent_size = 2
indent_style = space
