source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Control.AsyncSeq 1.15.0

github fsharp/FAKE modules/Octokit/Octokit.fsx