source https://api.nuget.org/v3/index.json
framework: netstandard2.0
redirects: on
storage: none

nuget FSharp.Core >= 4.3.2 lowest_matching: true

group Legacy
  source https://api.nuget.org/v3/index.json
  framework: net45
  storage: none

  nuget FSharp.Core >= 3.1.2 lowest_matching: true

group Build
    source https://api.nuget.org/v3/index.json
    framework: net45

    nuget FAKE ~> 4
    nuget FSharp.Formatting
    nuget Nuget.CommandLine
    github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FSharp.Core
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit
    nuget NUnit.Runners
    nuget NUnit3TestAdapter
