version 6.0.0-rc001
source https://api.nuget.org/v3/index.json
framework: netstandard2.1, netstandard2.0
redirects: on
storage: none

nuget FSharp.Core >= 4.3.2  lowest_matching: true
nuget Microsoft.Bcl.AsyncInterfaces ~> 5.0.0 framework: netstandard2.0

group Test
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1, net5.0
    storage: none

    generate_load_scripts: true

    nuget FSharp.Core
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit
    nuget NUnit3TestAdapter

group Test.Fable
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget Fable.Core
    nuget Fable.FastCheck
    nuget Fable.FastCheck.Jest
    nuget Fable.Jester
    nuget FSharp.Core

group Fake
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget Fake.Core.Target             ~> 5.20.4
    nuget Fake.Core.ReleaseNotes       ~> 5.20.4
    nuget Fake.DotNet.AssemblyInfoFile ~> 5.20.4
    nuget Fake.DotNet.Cli              ~> 5.20.4
    nuget Fake.DotNet.Testing.NUnit    ~> 5.20.4
    nuget Fake.DotNet.NuGet            ~> 5.20.4
    nuget Fake.DotNet.MsBuild          ~> 5.20.4
    nuget Fake.Tools.Git               ~> 5.20.4
	nuget Fake.DotNet.Paket            ~> 5.20.4